%main.single-main
  %section.l-single-container.buy-item-container
    #sell-container
      .sell-container-inner
        %h2.l-single-head
          商品の情報を入力
        = form_with model: @item, url: item_path(@item), method: :patch, local: true, class: "sell-form" do |f|
          .sell-upload-box
            %h3.sell-upload-head
              出店画像
              %span.form-require 必須
            %p 最大10枚までアップロードできます
            .sell-dropbox-container.clearfix.state-image-number-10
              .sell-upload-items-container
                .sell-upload-items.have-item-0
              %label.sell-upload-drop-box.have-item-0
                %input.sell-upload-drop-file{style: "display:none;", type: "file", name: "item[item_images_attributes][0][image]", id: "item_item_images_attributes_0_image"}
                %pre.visible-pc ドラッグアンドドロップまたはクリックしてファイルをアップロード
                = fa_icon "camera"
              %input{type: "hidden", value: "0", name: "item[item_images_attributes][0][id]", id: "item_item_images_attributes_0_id"}
              %label.sell-upload-drop-box.have-item-1
                %input.sell-upload-drop-file{style: "display:none;", type: "file", name: "item[item_images_attributes][1][image]", id: "item_item_images_attributes_1_image"}
                %pre.visible-pc ドラッグアンドドロップまたはクリックしてファイルをアップロード
                = fa_icon "camera"
              %input{type: "hidden", value: "1", name: "item[item_images_attributes][1][id]", id: "item_item_images_attributes_1_id"}
              %label.sell-upload-drop-box.have-item-2
                %input.sell-upload-drop-file{style: "display:none;", type: "file", name: "item[item_images_attributes][2][image]", id: "item_item_images_attributes_2_image"}
                %pre.visible-pc ドラッグアンドドロップまたはクリックしてファイルをアップロード
                = fa_icon "camera"
              %input{type: "hidden", value: "2", name: "item[item_images_attributes][2][id]", id: "item_item_images_attributes_2_id"}
              %label.sell-upload-drop-box.have-item-3
                %input.sell-upload-drop-file{style: "display:none;", type: "file", name: "item[item_images_attributes][3][image]", id: "item_item_images_attributes_3_image"}
                %pre.visible-pc ドラッグアンドドロップまたはクリックしてファイルをアップロード
                = fa_icon "camera"
              %input{type: "hidden", value: "3", name: "item[item_images_attributes][3][id]", id: "item_item_images_attributes_3_id"}
              %label.sell-upload-drop-box.have-item-4
                %input.sell-upload-drop-file{style: "display:none;", type: "file", name: "item[item_images_attributes][4][image]", id: "item_item_images_attributes_4_image"}
                %pre.visible-pc ドラッグアンドドロップまたはクリックしてファイルをアップロード
                = fa_icon "camera"
              %input{type: "hidden", value: "4", name: "item[item_images_attributes][4][id]", id: "item_item_images_attributes_4_id"}
          .sell-content
            .form-group
              = f.label :name do
                商品名
                %span.form-require 必須
              %div
                = f.text_field :name, placeholder: "商品名 (必須 40文字まで)", class: "input-default", value: @item.name
            .form-group
              = f.label :content do
                商品の説明
                %span.form-require 必須
              = f.text_area :content, placeholder: "商品の説明 (必須1000文字以内) (色、素材、重さ、定価、注意点など) 例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5", class: "textarea-default", value: @item.content
          .sell-content.clearfix
            %h3.sell-sub-head 商品の詳細
            .sell-form-box
              .form-group.category
                = f.label :upper_category_id do
                  カテゴリー
                  %span.form-require 必須
                %div
                  .select-wrap.upper
                    = f.select :upper_category_id, options_from_collection_for_select(@upper_categories, :id, :name), {prompt: "---"}, class: "select-default", id: "upper_category", value: @item.upper_category.name
                    = fa_icon "arrow-bottom"
              .form-group
                = f.label :status_id do
                  商品の状態
                  %span.form-require 必須
                %div
                  .select-wrap
                    = f.select :status_id, options_from_collection_for_select(Status.all, :id, :name), {prompt: "---"}, class: "select-default", value: @item.status.name
                    = f.hidden_field :condition_id, value: 1
                    = fa_icon "arrow-bottom"
          .sell-content.clearfix
            %h3.sell-sub-head 配送について
            = link_to "?", "https:/www.mercari.com/jp/help_center/article/68", target: "_blank", class: "form-question"
            .sell-form-box
              .form-group.burden
                = f.label :delivery_burden_id do
                  配送料の負担
                  %span.form-require 必須
                %div
                  .select-wrap
                    = f.select :delivery_burden_id, options_from_collection_for_select(DeliveryBurden.all, :id, :name), {prompt: "---"}, class: "select-default delivery_burden", value: @item.delivery_burden.name
                    = fa_icon "arrow-bottom"
              .form-group
                %label
                  発送元の地域
                  %span.form-require 必須
                %div
                  .select-wrap
                    = f.collection_select(:prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {prompt: "---"}, {class: "select-default"})
                    = fa_icon "arrow-bottom"
              .form-group
                = f.label :delivery_date_id do
                  発送までの日数
                  %span.form-require 必須
                %div
                  .select-wrap
                    = f.select :delivery_date_id, options_from_collection_for_select(DeliveryDate.all, :id, :name), {prompt: "---"}, class: "select-default", value: @item.delivery_date.name
                    = fa_icon "arrow-bottom"
          .sell-content.clearfix
            %h3.sell-sub-head 販売価格(300~9,999,999)
            = link_to "?", "https:/www.mercari.com/jp/help_center/article/68", target: "_blank", class: "form-question"
            .sell-form-box
              %ul.sell-price
                %li.form-group
                  .clearfix
                    %label.l-left
                      価格
                      %span.form-require 必須
                    .l-right.sell-price-input
                      %div
                        = f.text_field :price, placeholder: "例)300", class: "input-default price", value: @item.price
                %li.clearfix
                  .l-left 販売手数料(10%)
                  .l-right.comercial_cost
                    - sell_comission = (@item.price * 0.1).floor
                    = sell_comission
                %li.clearfix.bold
                  .l-left 販売利益
                  .l-right.profit
                    - sell_profit = (@item.price - sell_comission).floor
                    = sell_profit
          .modal{role: "dialog", tabindex: "-1"}
            .modal-inner
          .sell-content.sell-btn-box
            %div
              %p
                = link_to "禁止されている出品", "https:/www.mercari.com/jp/help_center/getting_started/prohibited_items/"
                、
                = link_to "行為", "https:/www.mercari.com/jp/help_center/getting_started/prohibited_conduct/"
                を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                = link_to "偽ブランドの販売",  "https:/www.mercari.com/jp/help_center/getting_started/counterfeit_goods/"
                は犯罪であり処罰される可能性があります。
              %p
                また、出品にもちまして
                = link_to "加盟店規約", "https:/www.mercari.com/jp/seller_terms/"
                に同意したことになります。
            = f.button "出品する", type: "submit", class: "btn-default btn-red"
            = link_to "もどる", root_path, class: "btn-default btn-gray"
          .overlay
