= render "shared/top-header"
%nav.bread-crumbs__list
  %ul
    - breadcrumb :card_registration
    = render "shared/breadcrumbs"

.mypage
  -# メインコンテンツ
  .mypage__content
    .credit
      %h2.credit__head クレジットカード情報入力
      .credit__content
        = form_for @credit_card, url: credits_path, method: :post, html: { class: 'credit__content__form' } do |f|
          -# カード番号
          .credit__content__form__group
            %span.credit__content__form__group__label カード番号
            %span.credit__content__form__group__necessary 必須
            = f.text_field :authorization_code, autofocus: true, placeholder: "半角数字のみ", class: 'credit__content__form__group__field'
            - if @credit_card.errors.messages[:authorization_code].present?
              - @credit_card.errors.messages[:authorization_code].each do |message|
                %p.error= message
            -#%ul.credit__content__form__group__card
            -#  %li
            -#    = image_tag 'common/visa.svg', alt: 'visa'
            -#  %li
            -#    = image_tag 'common/master-card.svg', alt: 'master-card'
            -#  %li
            -#    = image_tag 'common/saison-card.svg', alt: 'saison-card'
            -#  %li
            -#    = image_tag 'common/jcb.svg', alt: 'jcb'
            -#  %li
            -#    = image_tag 'common/american_express.svg', alt: 'american_express'
            -#  %li
            -#    = image_tag 'common/dinersclub.svg', alt: 'dinersclub'
            -#  %li
            -#    = image_tag 'common/discover.svg', alt: 'discover'

          -# 有効期限
          .credit__content__form__group
            %span.credit__content__form__group__label 有効期限
            %span.credit__content__form__group__necessary 必須
            .credit__content__form__group__select
              = f.select :month, @months, { class: "credit__content__form__group__select" }
            - if @credit_card.errors.messages[:month].present?
              - @credit_card.errors.messages[:month].each do |message|
                %p.error= message
            .credit__content__form__group__select
              = f.select :year, @years, { class: "credit__content__form__group__select" }
            - if @credit_card.errors.messages[:year].present?
              - @credit_card.errors.messages[:year].each do |message|
                %p.error= message

          -# セキュリティコード
          .credit__content__form__group
            %span.credit__content__form__group__label セキュリティコード
            %span.credit__content__form__group__necessary 必須
            = f.text_field :security_code, autofocus: true, placeholder: "カード背面4桁もしくは3桁の番号", class: 'credit__content__form__group__field'
            .credit__content__form__group__help
              %span.credit__content__form__group__help__icon ?
              %span カード裏面の番号とは？
            - if @credit_card.errors.messages[:security_code].present?
              - @credit_card.errors.messages[:security_code].each do |message|
                %p.error= message

          .credit__content__form__group
            = f.submit "追加する", class: 'credit__content__form__group__submit'

    = render "shared/side-bar"
= render "shared/app-banner"
= render "shared/top-footer"
= render "shared/sell-btn"
