= render "shared/top-header"
%nav.bread-crumbs__list
  %ul
    - breadcrumb :card_registration
    = render "shared/breadcrumbs"
%main
  .l-container.cleafix
    .l-content
      .l-chapter-container
        %h2.l-chapter-head 支払い方法
        .l-single-inner
          %section
            .l-single-content
              %h3.l-chapter-sub-head クレジットカード一覧
            %ul.settings-payment-list
          %section.settings-add-card
            .settings-add-card-content
              = link_to items_path, class: "btn-default btn-red submit_button" do
                = fa_icon "cc-visa"
                クレジットカードを追加する
          .settings-not-regist
            = link_to items_path do
              %span 支払い方法について
              = fa_icon "chevron-right", class: "chevron-right"

    = render "shared/side-bar"
= render "shared/app-banner"
= render "shared/top-footer"
= render "shared/sell-btn"
