.single-container
  = render "shared/new-header"
  %main.single-main
    %section.l-single-container.buy-item-container
      %h2.l-single-head 購入を確定しますか？
      %section.buy--content.buy--item
        .buy--content__inner
          %h3.buy--item__image
            = image_tag (@item.item_images.first.image.url), alt: @item.name, class: "lazyloaded"
          %p.buy--item__name.bold
            = @item.name
            %ul.buy--price__table
              %li.buy--price__row.buy--you__pay.bold
                .buy--price__cell 支払い金額
                .buy--price__cell
                  %span
                    = number_to_currency(@item.price, unit: "¥ ", precision:0, format: "%u%n")
              - if @credit_card.present?
                - if @credit_card.payjp_token.present?
                  = link_to '購入する', purchase_index_path(id: @item), method: :post, class: 'btn-default btn-red bold'
                - else
                  = form_tag('/purchase', method: :post, class: 'payjp-form') do
                    = hidden_field_tag :id, @item.id
                    = hidden_field_tag 'pay_key', Rails.application.credentials.payjp_public_key, class: 'pay_key'
                    = hidden_field_tag 'number', @credit_card.authorization_code, class: 'number'
                    = hidden_field_tag 'cvc', @credit_card.security_code, class: 'cvc'
                    = hidden_field_tag 'exp_month', @credit_card.month, class: 'exp_month'
                    = hidden_field_tag 'exp_year', @credit_card.year, class: 'exp_year'
                    = button_tag '購入する', class: 'btn-default btn-red bold'
              - else
                = button_tag "購入する", type: "submit", class: "btn-default btn-none bold"
      %section.buy--content.buy--user__info
        .buy--content__inner
          %h3 配送先
          %address.buy--user__info--text
            = current_user.zip
          %br
          = current_user.prefecture_code
          = current_user.city_name
          = current_user.street
          %br
          = current_user.first_name
          = current_user.last_name
          %p.buy--user__info--text
          = link_to "https://www.mercari.com/jp/transaction/address/m52266919642/", class: "buy--user__info--fix" do
            %span 変更する
            = fa_icon "arrow-right"
      %section.buy--content.buy--user__info
        .buy--content__inner
          %h3 支払い方法
          - if @credit_card.present?
            %p.buy--user__info--text ************
            00/01
            %figure
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2806274400", alt: "visa", width: "49", height: "15"
              %p
            = link_to credits_path, class: "buy--user__info--fix" do
              %span 変更する
              %i.icon-arrow-right
              = fa_icon "arrow-right"
          - else
            %br/
            \/
            = link_to new_credit_path, class: "buy--user__info--fix" do
              %span 追加する
              %i.icon-arrow-right
              = fa_icon "arrow-right"
  = render "shared/new-footer"