.single-container
  = render "shared/new-header"
  %main.single-main
    %section.l-single-container.buy-item-container
      %h2.l-single-head 購入を確定しますか？
      %section.buy--content.buy--item
        .buy--content__inner
          %h3.buy--item__image
            = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m52266919642_1.jpg?1549896181", alt: "", class: "lazyloaded"
          %p.buy--item__name.bold LOWRYSFARM ロングシャツワンピース
          = form_with model: @item, local: true, class: "buy--form" do |f|
            %p.buy--price__ja.bold
              ¥5,000
              %span.item--shipping__fee.f14.bold 送料込み
            %ul.buy--accordion
              %li.accordion__parent
                .accordion__toggle
                  ポイントを使う
                  = fa_icon "arrow-up", class: "accordion__icon"
                %ul.accordion__child
                  %li.bold 所持ポイント: P 1,200
                  %li.form-group
                    .radio__default
                      = f.label :consume_point_radio, "ポイントを使わない"
                      = f.radio_button :consume_point_radio, value: "none"
                    .radio__default
                      = f.label :consume_point_radio, "全てのポイントを使う"
                      = f.radio_button :consume_point_radio, value: "all"
                      = f.hidden_field :consume_point, value: "1200"
                    .radio__default
                      = f.label :consume_point_radio, "一部のポイントを使う"
                      = f.radio_button :consume_point_radio, value: "all"
                    = f.number_field :consume_point, placeholder: "使うポイントを入力", class: "input__default"
                    = f.hidden_field :consume_point, value: "0"
            %ul.buy--price__table
              %li.buy--price__row.buy--you__pay.bold
                .buy--price__cell 支払金額
                .buy--price__cell
                  %span ¥ 5,000
            = f.button "購入する", type: "submit", class: "btn-default btn-red bold"
      %section.buy--content.buy--user__info
        .buy--content__inner
          %h3 配送先
          %address.buy--user__info--text 〒111-2222
          %br
          〇〇県 □□市▲区×町 000-1111番地 TECH::EXPERTマンション3階2号室
          %br
          テック キャンプ太郎
          %p.buy--user__info--text
          = link_to "https://www.mercari.com/jp/transaction/address/m52266919642/", class: "buy--user__info--fix" do
            %span 変更する
            = fa_icon "arrow-right"
      %section.buy--content.buy--user__info
        .buy--content__inner
          %h3 支払い方法
          %p.buy--user__info--text ************
          00/01
          %figure
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2806274400", alt: "visa", width: "49", height: "15"
            %p
          = link_to "https://www.mercari.com/jp/transaction/select_card/m52266919642/", class: "buy--user__info--fix" do
            %span 変更する
            %i.icon-arrow-right
            = fa_icon "arrow-right"
  = render "shared/new-footer"
